.PowerButton {
  height: 10vh;
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PowerButtonIcon {
  color: grey;
  transition: color 0.3s ease;
}

.PowerButtonIcon:hover {
  color: black;
}

.userLogo {
  background-color: white;
  /* border: 1px solid black; */
  margin-left: 20px;
  margin-right: 95px;
  margin-bottom: 20px;
  border-radius: 50%;
  color: black;
  transition: color 0.3s ease;
}

.userLogo:hover {
  background-color: black;
  color: white;
}

.form {
  align-content: center;
  /* background-color: black;   */
  /* border: 1px solid black; */
  margin-left: 550px;
  margin-right: 550px;
  margin-top: 250px;
}


.Submitbutton {
  text-align: center;
  background-color: white;
  color: black;
}

.innerbutton {
  background-color: white;
  color: black;
}

.innerbutton:hover {
  background-color: black;
  /* transition: red 1s; */
  color: white;
}

.profile-image,img {
  height: 53px;
  width: auto;
  /* background-color: pink;   */
  /* border: 1px solid red; */
  margin-top: 1px;
  margin-left: 18px;
  margin-right: 640px;
}

.header {
  height: 60px;
  /* background-color: green;   */
  /* border: 1px solid blue; */
  /* border-bottom: 1px solid white; */
  border-bottom-style: ridge;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-section{
  width: 800px;
}

.search-section {
  /* background-color: green;    */
  /* border: 1px solid blue; */
  /* width: 100px; */
  /* height: 50px; */
  /* border-radius: 10px; */
  display: flex;
  flex-direction: row;
  padding: 14px;
}

.input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

.search-icon {
  color: grey;
  transition: color 0.3s ease;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.search-icon:hover{
  color: black;
  cursor: pointer;
}

.Button-section {
  display: flex;
  flex-direction: row;
  margin-left: 80px;;
}

.signUp-button{
  height: 50%;
  margin: 10px;
  border-radius: 10%;
  padding: 8px;
}

.logIn-button{
  height: 50%;
  margin: 20px;
  border-radius: 10%;
  padding: 8px;
}

